.Timer {
    padding: 0;
    margin: 0;
    background-color: black;
    color: green;

    h1 {
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        button {
            margin: 5rem;
            padding: 1rem;
        }
    }


}