body {
    background-color: gray;
}

.App {
    text-align: center;


    input {
        margin: 2rem;
        width: 50%;
        height: 55px;
        text-align: center;
        font-size: 35px;
        border-radius: 50px;
    }

    h1 {
        color: #fff;
        font-size: 5vw;
    }

    img {
        height: 15vw;
    }

    h2 {
        color: #fafafa;
        font-size: 2vw;
    }

    .Countries {
        background-color: darkgray;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 16vw 0 16vw;
    }
}